*{
    margin: 0;
    padding: 0;
}
html{
    background: url(../img/bg.jpg);
}
body{
    opacity: 0;
    transition: opacity 1.2s linear;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 40px;
    justify-content: center;
}
button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    background-color:rgba(255, 255, 240, 0.61);
}
button:hover{
    background-color:rgba(240, 248, 255, 0.39);
}

.endGame{
    color: rgb(255, 45, 45);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.671);
    margin:  50px auto;
    text-align: center;
    user-select: none;
}